*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.align-center{
    text-align: center;
}


.text-email{
    font-size: 13px;
}